.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 24px;
}

.header-logo {
  color: var(--secondary-color);
  font-weight: 1000;
  font-size: 38px;
  font-style: italic;
}

.header-favorites {
  display: flex;
  align-items: center;
  font-size: 24px;
}
